{:index 0, :time 20023500, :type :info, :process :nemesis, :f :start-partition, :value :minority-third}
{:index 1, :time 22326542, :type :invoke, :process 1, :f :generate, :value nil}
{:index 2, :time 24033459, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n2" #{}, "n1" #{}, "n0" #{}}]}
{:index 3, :time 24092334, :type :invoke, :process 2, :f :generate, :value nil}
{:index 4, :time 25089625, :type :invoke, :process 0, :f :generate, :value nil}
{:index 5, :time 5027795875, :type :info, :process 2, :f :generate, :value nil, :error :net-timeout}
{:index 6, :time 5028023334, :type :invoke, :process 5, :f :generate, :value nil}
{:index 7, :time 5029087334, :type :info, :process 0, :f :generate, :value nil, :error :net-timeout}
{:index 8, :time 5029153792, :type :info, :process 1, :f :generate, :value nil, :error :net-timeout}
{:index 9, :time 5029194250, :type :invoke, :process 4, :f :generate, :value nil}
{:index 10, :time 5029762959, :type :invoke, :process 3, :f :generate, :value nil}
{:index 11, :time 9762540042, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 12, :time 9765528750, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 13, :time 10031281500, :type :info, :process 5, :f :generate, :value nil, :error :net-timeout}
{:index 14, :time 10031554500, :type :info, :process 3, :f :generate, :value nil, :error :net-timeout}
{:index 15, :time 10031640667, :type :invoke, :process 6, :f :generate, :value nil}
{:index 16, :time 10033833667, :type :invoke, :process 8, :f :generate, :value nil}
{:index 17, :time 10034125334, :type :info, :process 4, :f :generate, :value nil, :error :net-timeout}
{:index 18, :time 10035895542, :type :invoke, :process 7, :f :generate, :value nil}
{:index 19, :time 15038287834, :type :info, :process 6, :f :generate, :value nil, :error :net-timeout}
{:index 20, :time 15038570375, :type :info, :process 7, :f :generate, :value nil, :error :net-timeout}
{:index 21, :time 15038656750, :type :invoke, :process 9, :f :generate, :value nil}
{:index 22, :time 15040658667, :type :info, :process 8, :f :generate, :value nil, :error :net-timeout}
{:index 23, :time 15040771417, :type :invoke, :process 10, :f :generate, :value nil}
{:index 24, :time 15043116209, :type :invoke, :process 11, :f :generate, :value nil}
{:index 25, :time 20045180542, :type :info, :process 9, :f :generate, :value nil, :error :net-timeout}
{:index 26, :time 20045414709, :type :invoke, :process 12, :f :generate, :value nil}
{:index 27, :time 20047851500, :type :info, :process 10, :f :generate, :value nil, :error :net-timeout}
{:index 28, :time 20047954584, :type :invoke, :process 13, :f :generate, :value nil}
{:index 29, :time 20051845042, :type :info, :process 11, :f :generate, :value nil, :error :net-timeout}
{:index 30, :time 20051986334, :type :invoke, :process 14, :f :generate, :value nil}
{:index 31, :time 25050930209, :type :info, :process 12, :f :generate, :value nil, :error :net-timeout}
{:index 32, :time 25051231959, :type :invoke, :process 15, :f :generate, :value nil}
{:index 33, :time 25054489875, :type :info, :process 14, :f :generate, :value nil, :error :net-timeout}
{:index 34, :time 25054602042, :type :info, :process 13, :f :generate, :value nil, :error :net-timeout}
{:index 35, :time 25054668500, :type :invoke, :process 17, :f :generate, :value nil}
{:index 36, :time 25055418209, :type :invoke, :process 16, :f :generate, :value nil}
{:index 37, :time 28866747584, :type :info, :process :nemesis, :f :start-partition, :value :majorities-ring}
{:index 38, :time 28873766500, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n0" #{"n1"}, "n1" #{"n2"}, "n2" #{"n0"}}]}
{:index 39, :time 30055249209, :type :info, :process 15, :f :generate, :value nil, :error :net-timeout}
{:index 40, :time 30058362084, :type :info, :process 17, :f :generate, :value nil, :error :net-timeout}
{:index 41, :time 30060014292, :type :info, :process 16, :f :generate, :value nil, :error :net-timeout}
